---
layout: page
title: "Research"
description: "papers & presentations"
active: gallery
header-img: "img/background/03.png"
album-title: "Results"
images:
  - image_path: /gallery/Research/cerf_model.png
    caption: Cerf - Model
    copyright: © minisal
  - image_path: /gallery/Research/cerf_network.png
    caption: Cerf - Network
    copyright: © minisal
  - image_path: /gallery/Research/cerf_results.png
    caption: Cerf - Results
    copyright: © minisal
adap_images:
	- image_path: /gallery/Research/adap_network.png
	  caption: AdapMVSNet - Overview
	  copyright: © minisal
	- image_path: /gallery/Research/adap_model.png
	  caption: AdapMVSNet - Module
	  copyright: © minisal
	- image_path: /gallery/Research/adap_results.png
	  caption: AdapMVSNet - Results
	  copyright: © minisal
videos:
  - image_path: /gallery/Research/recon_demo.mov
    caption: Realtime Recon
    copyright: © minisal
---

<html class="no-js" lang="en">
  <head>
    <meta content="charset=utf-8" />
  </head>

  <body>
    <section id="content" role="main">
      <div class="wrapper">
        <br /><br />
        <h2>
          CeRF: Convolutional Neural Radiance Fields for New View Synthesis with
          Derivatives of Ray Modeling
        </h2>
        <p>
          Submit to Neurips 2023 - First author
                  </p>
                  
                  <p>
                  In recent years, novel view synthesis has gained popularity in
                  generating high-fidelity images. While demonstrating superior
                  performance in the task of synthesizing novel views, the majority of
                  these methods are still based on the conventional multi-layer perceptron
                  for scene embedding. Furthermore, light field models suffer from
                  geometric blurring during pixel rendering, while radiance field-based
                  volume rendering methods have multiple solutions for a certain target of
                  density distribution integration. To address these issues, we introduce
                  the Convolutional Neural Radiance Fields to model the derivatives of
                  radiance along rays. Based on 1D convolutional operations, our proposed
                  method effectively extracts potential ray representations through a
                  structured neural network architecture. Besides, with the proposed ray
                  modeling, a proposed recurrent module is employed to solve geometric
                  ambiguity in the fully neural rendering process. Extensive experiments
                  demonstrate the promising results of our proposed model compared with
                  existing state-of-the-art methods.
                  </p>

        <!-- Gallery __-->
        <div class="gallery masonry-gallery">
          {% for image in page.images %}

          <figure class="gallery-item">
            <header class="gallery-icon">
              <a
                href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"
                class="popup"
                title="{{ image.caption }}"
                data-caption="{{ image.copyright }}"
              >
                <img
                  src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"
              /></a>
            </header>
            <figcaption class="gallery-caption">
              <div class="entry-summary">
                <h3>{{image.caption}}</h3>
                <p>{{image.copyright}}</p>
              </div>
            </figcaption>
          </figure>

          {% endfor %}
        </div>
      </div>
      <!-- END .wrapper -->

      <div class="wrapper">
        <br /><br />
        <h2>
          AdaptMVSNet: Efficient Multi-View Stereo with Adaptive Convolution and
          Attention Fusion
        </h2>
        

        <!-- Gallery __-->
        <div class="gallery masonry-gallery">
          {% for image in page.adap_images %}

          <figure class="gallery-item">
            <header class="gallery-icon">
              <a
                href="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"
                class="popup"
                title="{{ image.caption }}"
                data-caption="{{ image.copyright }}"
              >
                <img
                  src="{{ site.url }}{{ site.baseurl }}{{ image.image_path }}"
              /></a>
            </header>
            <figcaption class="gallery-caption">
              <div class="entry-summary" id="{{ image.caption }}">
                <h3>{{image.caption}}</h3>
                <p>{{image.copyright}}</p>
              </div>
            </figcaption>
          </figure>

          {% endfor %}
        </div>
      </div>
      <!-- END .wrapper -->

      <div class="wrapper">
        <br /><br />
        <h2>Realtime 3D Reconstruction</h2>

        <!-- Gallery __-->
        <div class="gallery masonry-gallery">
          {% for image in page.videos %}

          <figure class="gallery-item">
            <header class="gallery-icon">
              <video
                src="{{ site.url }}{{ site.baseurl }}{{ video.image_path }}"
                controls
              ></video>
            </header>
            <figcaption class="gallery-caption">
              <div class="entry-summary" id="{{ image.caption }}">
                <h3>{{image.caption}}</h3>
                <p>{{image.copyright}}</p>
              </div>
            </figcaption>
          </figure>

          {% endfor %}
        </div>
      </div>
      <!-- END .wrapper -->
      <h2>Nerf & MVS Presentation</h2>
      <iframe
        src="//player.bilibili.com/player.html?aid=270220311&bvid=BV1pc411H7J5&cid=1102401229&page=1"
        scrolling="no"
        border="0"
        frameborder="no"
        framespacing="0"
        allowfullscreen="true"
        controls
      >
      </iframe>
    </section>

    <!-- jQuery -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- include image popups -->
    <script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
    <script src="{{ site.baseurl }}/js/retina.min.js"></script>
    <!-- include Masonry -->
    <script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
    <!-- include mousewheel plugins -->
    <script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
    <!-- include carousel plugins -->
    <script src="{{ site.baseurl}}/js/jquery.tinycarousel.min.js"></script>
    <!-- include svg line drawing plugin -->
    <script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
    <!-- include custom script -->
    <script src="{{ site.baseurl }}/js/scripts.js"></script>
    <!-- Modernizr -->
    <script src="{{ site.baseurl }}/js/modernizr.js"></script>

    <script type="text/javascript">
      $(document).ready(function ($) {
        $("a.popup").magnificPopup({
          type: "image",
          gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0, 1], // Will preload 0 - before current, and 1 after the current image
          },
          image: {
            titleSrc: function (item) {
              return (
                item.el.attr("title") + "&nbsp;" + item.el.attr("data-caption")
              );
            },
          },
          // other options
        });
      });
    </script>
  </body>
</html>
